.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
  gap: 15px
}


main {
  display: flex;
  justify-content: center;
  width: 100%;
}

form {
  align-items: center;
  justify-content: center;
  display: flex;
}

.movies {
  list-style: none;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.movie {
  text-align: center;
}

.movie img {
  border-radius: 8px;
}

.movie:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

